<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lun.pocket_health_advisor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Pocket Health Advisor"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".videoCall.SinchService" />

        <activity
            android:name=".payment.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.example.lun.pockethealthadvisor.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name=".videoCall.SinchLoginActivity"
            android:label="@string/title_activity_sinch_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".videoCall.CallScreenActivity" />
        <activity
            android:name=".videoCall.IncomingCallScreenActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".videoCall.PlaceCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chatbot.ChatbotActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".NearbyHospital.NearbyHospitalActivity"
            android:label="@string/title_activity_nearby_hospital"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".medicReport.MedicReportActivity"
            android:label="@string/title_activity_medic_report"
            android:parentActivityName=".chatbot.ChatbotActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lun.pocket_health_advisor.chatbot.ChatbotActivity" />
        </activity>
        <activity
            android:name=".appointment.AppointmentActivity"
            android:label="@string/title_activity_appointment"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NearbyHospital.HospitalActivity"
            android:label="@string/title_activity_hospital"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lun.pocket_health_advisor.MainActivity" />
        </activity>
        <activity
            android:name=".medicReport.MReportDetailsActivity"
            android:label="@string/title_activity_mreport_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".appointment.RequestAppointmentActivity"
            android:label="@string/title_activity_request_appointment"
            android:parentActivityName=".NearbyHospital.HospitalActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>